.task_column_heading {
    display: flex;
    align-items: center;
}

.task_column_icon {
    width: 30px;
    margin-right: 5px;
}
.task_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: #6457f9;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

